body {
    background-color: papayawhip;
    text-align: center;
  }
  
  p {
    color: saddlebrown;
    text-align: center;
    font-family: cursive;
  }
  h1 {
    font-weight: bold;
    font-family: cursive;
    font-size: 60px;
    color: sienna;
    border-color: maroon;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;
  }
  
  h5 {
    font-family: serif;
    font-size: 20px;
    color: sienna;
    text-align: left;
    margin-left: 450px;
  }
  
  .genre {
    font-family: cursiv;
    font-size: 20px;
    color: sienna;
    text-align: center;
    margin-left: 30px;
  }
  
  h3 {
    font-family: serif;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(145, 38, 38);
  }
  
  
  .text {
    color: saddlebrown;
    text-align: left;
    font-family: cursive;
    font-size: 15px;
    width: 600px;
    margin-left: 400px; 
  }
  
  img {
    width: 300px;
    height: 400px;
    margin-top: 10px;
    border-color: maroon;
    border-width: 6px;
    border-style: double;
    border-radius: 30px;
  }
  